.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.chiquem-logo {
  max-width: 190px;
}


.describe {
  color: rgb(75, 75, 75);
  font-size: 13px;
  margin-top: 20px;
}

.container-login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}
